/* -------------------------------------------------------------------------- */
/*                              Estilos generales                             */
/* -------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* body {
    
  } */

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: none;
}
  
a {
    text-decoration: none;
}


/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    min-height: 100vh;
        
    font-family: 'Roboto', sans-serif;
    background: #343E46;
}

.lista {
    width: 500px;
}
  
.lista a {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: #535e66;
    color: #fff;

    font-size: 18px;

    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

    
    transition: .3s ease all;
}
  
.lista a:hover {
    background: #137576;
}
  
.lista a i {
    display: none;
}
  
.lista a.activo i {
    display: block;
}
  
.btn-agregar {
    background: #EE7447;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    transition: .3s ease all;
}
  
.btn-agregar:hover {
    background: #da6315;
}
  